{% extends 'base.html.twig' %}

{% block title %}Déconnexion{% endblock %}

{% block body %}
    <h1>Déconnexion</h1>
    <p>Vous avez été déconnecté avec succès.</p>
    <a href="{{ path('app_login') }}" class="btn btn-primary">Se reconnecter</a>
{% endblock %}
