{% extends 'base.html.twig' %}

{% block title %} Nouveau Commentaire {% endblock %}

{% block body %}
    <h1>Ajouter un Commentaire</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success mt-2">Commenter</button>
    {{ form_end(form) }}
{% endblock %}
