{% extends 'base.html.twig' %}

{% block title %}Accueil - Bibliothèque{% endblock %}

{% block body %}
    <div class="text-center mt-5">
        <h1 class="display-4">Bienvenue à la Bibliothèque hors les murs 📚</h1>
        <p class="lead">Explorez notre collection de livres et commencez votre lecture dès maintenant !</p>
       
    </div>
{% endblock %}
